*{
margin: 0px;
padding: 0px;
}




.item-1 {
    height: 200px;
    width: 400px;
    background-color: aqua;
}


.item-2 {
    height: 200px;
    width: 60%;
    background-color: rgb(154, 200, 233);
}




.item-3 {
    height: 200px;
    width: 60vw;
    background-color: rgb(80, 232, 135);
}


body{
    width: 700px;
}