*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 250px;
    width: 250px;
    border: 4px solid brown;
}

.item-1{
    background-color: aqua;
    
}
.item-2{
    background-color: violet;
    position: relative;   /*relative position: the element is positioned relative to its normal position*/
    left: 100px;      
    top: -100px;
}
.item-3{
    background-color: yellow;
    
}



