*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




.parent{
    padding: 24px;
    background-color: aqua;



    /*FLEX PROPERTIES */
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 50px;
    justify-content: space-between;
}


.child{
    padding: 24px;
    background-color: crimson;
    margin: 20px auto;
    border: 10px solid blue;
    
}


/*css tricks on google*/